<mat-card id="main">
    <div *ngIf="dynamicForm.hasError('numOfQuestionsError')">AEEEEEEEEe</div>
    <form [formGroup]='dynamicForm'>
        <div id="top-form">
            <div id="title-form">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
            </div>
            <div id="secondary-form">
                <mat-form-field>
                        <mat-label>Number of questions</mat-label>
                    <input matInput type="number" formControlName="numOfQuestions" (change)="onChangeQuestions($event.target.value)">
                    <mat-error *ngIf="f.numOfQuestions.invalid">Wrong number of questions</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Test questions</mat-label>
                    <input matInput type="number" formControlName="numOfTestQuestions">
                    <mat-error *ngIf="1">Wrong number of test questions</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Time</mat-label>
                    <input matInput type="number" formControlName="testTime" placeholder="Test time in minutes">
                    <mat-error *ngIf="f.testTime.invalid">Test time is incorrect</mat-error>
                </mat-form-field>
                <div id='randomize'>
                    <mat-label>Randomize: </mat-label>
                    <mat-checkbox formControlName="randomize"></mat-checkbox>
                </div>
            </div>
        </div>

        <app-question 
            *ngFor="let question of t.controls; let index=index" 
            [question]="question" 
            [index]="index"
            (removeEvent)=removeQuestion($event)>
        </app-question>

    </form>
    <div id="buttons-row">
        <button id='addNew' mat-raised-button color='accent' (click)="addQuestion()">Add question</button>    
        <button mat-raised-button style="background-color: orangered; color: white;" (click)="onReset()">Clear</button>
        <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="mode === 'modify'">Delete</button>
        <button mat-raised-button color='primary' (click)="onSubmit()">Submit</button>
    </div>
</mat-card>