mat-card {
    max-width: 800px;
    margin: auto;
    margin-top: 2em;
}
#buttons-row {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
#buttons-row button {
    flex-grow: 1;
    margin: 0 1em;
}
#title-form {
    padding: 0 2em;
}
#title-form mat-form-field {
    width: 100%;
    font-size: 3em;
}
#secondary-form {
    display: flex;
    justify-content: space-evenly;
}
