mat-card {
    max-width: 800px;
    margin: auto;
    margin-top: 2em;
}
#buttons-row {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
#buttons-row button {
    flex-grow: 1;
    margin: 0 1em;
}
#title-form {
    padding: 0 2em;
}
#title-form mat-form-field {
    width: 100%;
    font-size: 3em;
}
#secondary-form {
    display: flex;
    justify-content: space-evenly;
}
#question-card {
    margin: 2em 5em;
}
#question-card mat-card-title {
    display: flex;
    justify-content: space-between;
}
#q-name mat-form-field {
    width: 100%;
}
#q-answers {
    padding: 0 2em;
}
.q-answer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.q-answer mat-form-field {
    flex-grow: 1;
    margin-left: 2em;
}

