mat-card {
    width: 60px;
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: flex;
    justify-content: center;
    background-color: #026670;
    color: white;
}
span {
    font-weight: bold;
}