<div id="wrapper">
    <mat-card>
        <form [formGroup]="form">
            <div id="left">
                <mat-form-field>
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>
            <div id="right">
                <div id="code">
                    <mat-form-field>
                        <mat-label>Test Code</mat-label>
                        <input matInput formControlName="testCode">
                    </mat-form-field>
                </div>
                <div id="btn-row">
                    <button mat-raised-button color="accent" (click)="onStart()">START TEST</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>