<mat-card id="main" *ngIf="test">
    <mat-card class="bg-primary">
        <h1 id="title">{{test.title}}</h1>
    </mat-card>
    <form [formGroup]='testForm'>
        <app-test-question 
            *ngFor="let question of q.controls; let index=index" 
            [question]="question" 
            [index]="index">
        </app-test-question>
    </form>
    <div id="buttons-row">
         <button mat-raised-button color='primary' (click)="onSubmit()">Submit</button>
    </div>
</mat-card>
<app-timer [startTime]='1606855711000' [duration]='30'></app-timer>