<mat-card id="main" *ngIf="test">
    <mat-card class="bg-primary">
        <h1 id="title">{{test.title}}</h1>
    </mat-card>
    <form [formGroup]='testForm'>
        <app-test-question 
            *ngFor="let question of q.controls; let index=index" 
            [question]="question" 
            [index]="index">
        </app-test-question>
        <div id="buttons-row">
            <button mat-raised-button color='primary' (click)="onSubmit()">Submit</button>
       </div>
    </form>
</mat-card>
<app-timer [startTime]='startTime' [duration]='duration' [isSubmitted]="isSubmitted" (timeEnded)="timeEnded()" (click)="timeEnded()"></app-timer>