mat-card {
    max-width: 800px;
    margin: auto;
    margin-top: 2em;
}
h1#title {
    text-align: center;
    font-size: 3em;
    margin: 1em 0;
}
div#buttons-row {
    display: flex;
    justify-content: flex-end;
}
div#buttons-row > button {
    width: 10em;
    height: 3em;
    margin: 0 1em;
}