h1 {
    text-align: center;
}
div#buttons {
    display: flex;
    justify-content: flex-end;
}

div#content  {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
div#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
span#test-id {
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0;
}
div#add-password span#desc {
    width: 70%;
    align-self: center;
}
div#content span {
    text-align: center;
}
mat-form-field {
    font-size: 2em;
    width: 100%;
}
