@import '~@angular/material/theming';

@include mat-core();

$Tester-primary: mat-palette($mat-indigo);
$Tester-accent: mat-palette($mat-pink, A200, A100, A400);
$Tester-warn: mat-palette($mat-red);

$Tester-theme: mat-light-theme((
  color: (
    primary: $Tester-primary,
    accent: $Tester-accent,
    warn: $Tester-warn,
  )
));

@include angular-material-theme($Tester-theme);
