div#btn-row { 
    display: flex; 
    justify-content: flex-end; 
}
button {
    flex-grow: 1;
}
div#score {
    font-weight: bolder;
    font-size: 8em;
}
div#score, div#headline, h1 {
    text-align: center;
}

.green-score {
    color: green;
}
.red-score {
    color: red;
}