<div id="wrapper">
    <mat-card *ngIf="!isLoading">
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>Test Code</mat-label>
                <input matInput formControlName="testID">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>
        </form>
        <div id="btn-row">
            <button mat-raised-button color="accent" (click)="onEdit()">EDIT</button>
        </div>
    </mat-card>
    <mat-card *ngIf="isLoading" id="loading">
        <mat-spinner color="primary"></mat-spinner>
    </mat-card>
</div>