@import "../../custom-theme.scss";

.bg-accent {
    background-color: mat-color($Tester-accent);
}
.bg-primary {
    background-color: mat-color($Tester-primary);
}

.color-primary {
color: mat-color($Tester-primary);
}
